# ---- Ignore large genome and annotation files ----
*.fa
*.fasta
*.fai
*.gff
*.gff3
*.gtf

# ---- Ignore genome index folders (STAR, BWA, etc.) ----
genomeIndex/
genome/

# ---- Ignore raw reads and fastq ----
*.fastq
*.fastq.gz

# ---- Ignore alignments and variants ----
*.bam
*.sam
*.bai
*.vcf
*.bcf

# ---- Ignore QC intermediate outputs ----
*.html
*.zip
*.flagstat
*.log
*.out
*.err

# ---- Ignore backup/temp files ----
*~
*.bak
*.tmp
tmp_*
# Exclude large reference and index files
RNA_Seq/genome/genomeIndex/
RNA_Seq/genome/*.fa
RNA_Seq/counts/*.gff3
